@model TodoDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Todo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Finished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Finished)
        </dd>
    </dl>

    <p>
        <a asp-controller="TodoComment" asp-action="Create">Create New Comment</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Text
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comment in Model.Comments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => comment.Text)
                    </td>
                    <td>
                        <a asp-controller="TodoComment" asp-action="Delete" asp-route-id="@comment.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
